@import "../../styles/variables";

.featureCard {
  display: block;
  background-color: $color-white;
  padding: 2em 1em;
  border-radius: 50px;
  outline: none;
  cursor: pointer;
  align-items: center;
  margin: 0 1.5rem;
  max-width: 350px;
  padding: 3.2rem 1.6rem;
  overflow: hidden;

  .icon {
    font-size: 4rem;
    margin-bottom: 2rem;
    text-align: center;
    color: $color-primary;
  }

  .textContainer {
    text-align: center;

    h4 {
      color: $color-primary;
      font-size: 2rem;
      margin-bottom: 0.5rem;
    }

    p {
      font-size: 1.6rem;
      line-height: 3rem;
    }
  }
}

@media (max-width:768px) {
  .featureCard {
    max-width: 100%;
  }
}