@import "../../../styles/mixins";
@import "../../../styles/variables";

.otherFeatures {
  @include section-padding;
  background-color: $color-primary;
  overflow: hidden;

  .wrapper {

    .textContainer {
      @include text-container($color-blue, $color-white);
      padding: 0 1.5rem;
    }
  }
}


:global(.slick-slide) {
  opacity: 0.8;
  transition: .3s;
}

:global(.slick-current) {
  opacity: 1;
}