@import "../../../styles/mixins";
@import "../../../styles/variables";

.otherFeatures {
  @include section-padding;
  background-color: $color-primary;
  overflow: hidden;

  .wrapper {
    .textContainer {
      text-align: center;
      margin-bottom: 5rem;

      h3 {
        color: $color-blue;
        font-size: 6rem;
        margin-bottom: 2.5rem;
        font-weight: 900;

        span {
          color: $color-white;
        }
      }

      p {
        font-size: 1.8rem;
        max-width: 75rem;
        margin: 0 auto;
        font-weight: 600;
        line-height: 3rem;
      }

    }
  }
}

@media (max-width:768px) {
  .otherFeatures {
    .wrapper {
      .textContainer {
        padding: 1.5rem;

        h3 {
          font-size: 4rem;
        }
      }
    }
  }
}

:global(.slick-slide) {
  opacity: 0.8;
  transition: .3s;
}

:global(.slick-current) {
  opacity: 1;
}