@import "../../../styles/mixins";
@import "../../../styles/variables";

.facts {
  @include section-padding;
  background-color: $color-primary;
  overflow: hidden;

  .wrapper {
    @include section-wrapper;

    .textContainer {
      @include text-container($color-blue, $color-white)
    }

    .factsContainer {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }
}

@media(max-width:992px) {
  .facts {
    .wrapper {
      .factsContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        gap: 1.6rem;
      }
    }
  }
}

@media(max-width:768px) {
  .facts {
    .wrapper {
      .factsContainer {
        grid-template-columns: 1fr;
      }
    }
  }
}