@import "../../../styles/mixins";
@import "../../../styles/variables";

.faq {
  @include section-padding;
  overflow: hidden;

  .wrapper {
    @include section-wrapper;

    .textContainer {
      text-align: center;
      margin-bottom: 5rem;

      h3 {
        color: $color-blue;
        font-size: 6rem;
        margin-bottom: 2.5rem;
        font-weight: 900;


        span {
          color: $color-primary;
        }
      }

      p {
        font-size: 1.8rem;
        max-width: 75rem;
        margin: 0 auto;
        font-weight: 600;
        line-height: 3rem;

      }

    }

    .content {
      display: flex;
      align-items: center;

      .accordion {
        min-height: 4rem;
      }

      .imgContainer {

        max-width: 35rem;

        img {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width:768px) {
  .faq {
    .wrapper {
      .textContainer {
        h3 {
          font-size: 4rem;
        }
      }

      .content {
        flex-direction: column;
      }
    }
  }
}